<ul class="header-inner">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <!--<li class="logo hidden-xs">-->
    <li class="logo hidden-xs">
        
        <a href="/">Beyond Charts {{ layoutSS }}</a>
    </li>
    <li class="logo hidden-lg hidden-md hidden-sm">
        <a href="/">BC {{ layoutSS }}</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
           
            <!--<li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="mactrl.layoutType"> 
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>-->
            
            <!--<li id="top-search">
                <a class="tm-search" href="" data-ng-click="hctrl.openSearch()"></a>
            </li>-->
            
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-notification" href=""><i class="tmn-counts">5</i></a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="md md-done-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body c-overflow">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult">
                                <div class="media">
                                    <div class="pull-left">
                                        <div ng-class="hctrl.whatClassIsIt(w.symbol)">{{w.symbol}}</div>
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.message }}</div>
                                        <small class="lv-small">{{ w.type }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>

            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-share" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li><a data-ng-click="" href="https://www.facebook.com/sharewealthsystems" target="_blank"><i class="socicon socicon-facebook"></i> Facebook</a></li>
                    <li><a data-ng-click="" href=""><i class="socicon socicon-twitter"></i> Twitter</a></li>
                    <li><a data-ng-click="" href=""><i class="socicon socicon-linkedin"></i> LinkedIn</a></li>
                    <li><a data-ng-click="" href=""><i class="socicon socicon-youtube"></i> YouTube</a></li>
                    <li><a data-ng-click="" href=""><i class="md md-chat"></i> SWS Forum</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li><a data-ng-click="hctrl.fullScreen()" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a></li>
                    <li><a data-ng-click="hctrl.clearLocalStorage()" href=""><i class="md md-refresh"></i> Refresh All Data</a></li>
                    <li><a href=""><i class="md md-settings"></i> Other Settings</a></li>
                </ul>
            </li>
            <li class="" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
                <a class="tm-chat" href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Security Explorer"></a>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <input type="text">
    <i id="top-search-close" data-ng-click="hctrl.closeSearch()">&times;</i>
</div>
