<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/GaryStonePhoto.png" alt="">
            </div>

            <div class="profile-info">
                Gary Stone

                <i class="md md-arrow-drop-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="md md-person"></i> Account Settings</a>
            </li>
            <li>
                <a href=""><i class="md md-vpn-key"></i> Account Licenses</a>
            </li>
            <li>
                <a href=""><i class="md md-settings"></i> Application Settings</a>
            </li>
            <li>
                <a href=""><i class="md md-history"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('portfolio') }">
            <a href="" toggle-submenu><i class="fa fa-briefcase"></i> Portfolio</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="portfolio.active-portfolio.general" data-ng-click="mactrl.sidebarStat($event)">Active Portfolio</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="portfolio.portfolios" data-ng-click="mactrl.sidebarStat($event)">Portfolios</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="portfolio.transactions" data-ng-click="mactrl.sidebarStat($event)">Transactions</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('scans') }">
            <a href="" toggle-submenu><i class="md md-wifi-tethering"></i> Scans</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="scans.daily" data-ng-click="mactrl.sidebarStat($event)">Active Portfolio</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="scans.scans" data-ng-click="mactrl.sidebarStat($event)">Portfolios</a></li>
            </ul>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="securities" data-ng-click="mactrl.sidebarStat($event)"><i class="fa fa-money"></i> Securities</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="watchlist" data-ng-click="mactrl.sidebarStat($event)"><i class="fa fa-eye"></i> Watchlist</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="stock-chart" data-ng-click="mactrl.sidebarStat($event)"><i class="fa fa-bar-chart"></i> StockChart</a>
        </li>

    </ul>
</div>