
<div class="block-header">
    <h2>Dashboard<small>SPA3 ETF Portfolio - Relative Strength | August 5, 2015</small></h2>

    <ul class="actions">
        <li>
            <a href="">
                <i class="md md-trending-up"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="md md-done-all"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown">
                <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Refresh</a>
                </li>
                <li>
                    <a href="">Manage Widgets</a>
                </li>
                <li>
                    <a href="">Widgets Settings</a>
                </li>
            </ul>
        </li>
    </ul>

</div>

<div class="mini-charts">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-teal">
                <div class="clearfix">
                    <div class="chart stats-line" data-sparkline-line></div>
                    <div class="count">
                        <span class="pull-right"><i class="fa fa-caret-up"></i> 15%</span>
                        <small>Portfolio Value</small>
                        <h2>$ 51,887</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-blue">
                <div class="clearfix">
                    <div class="chart stats-line-2" data-sparkline-line></div>
                    <div class="count">
                        <small>Market Value</small>
                        <h2>$ 80,600</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-pink">
                <div class="clearfix">
                    <div class="chart stats-bar" data-sparkline-bar></div>
                    <div class="count">
                        <small>Net Profit</small>
                        <h2>$ 3,567</h2>
                    </div>
                </div>
            </div>
        </div>
        
        

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                    <div class="chart stats-bar-2" data-sparkline-bar></div>
                    <div class="count">
                        <small>Open Trades</small>
                        <h2>21</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dash-widgets">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>NASDAQ<small>30/07/2015 8:49PM AEST</small></h2>

                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <div class="dropdown-menu pull-right">
                                <p class="p-20">S&P</p>
                                <p class="p-20">S&P</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding-sm">
                    <div class="flot-chart" data-dynamic-chart ></div>
                    <div class="flc-dynamic"></div>
                </div>
            </div>
        </div>

        
        <div class="col-md-3 col-sm-6">
            <div id="site-visits" class="dash-widget-item bgm-teal">
                <div class="dash-widget-header">
                    <div class="p-20">
                        <div class="dash-widget-visits" data-sparkline-line></div>
                    </div>

                    <div class="dash-widget-title">For the past 30 days</div>

                    <ul class="actions actions-alt">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="p-20">

                    <small>Data 1</small>
                    <h3 class="m-0 f-400">4,500</h3>

                    <br/>

                    <small>Data 2</small>
                    <h3 class="m-0 f-400">3,000</h3>

                    <br/>

                    <small>Data 3</small>
                    <h3 class="m-0 f-400">950</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div id="pie-charts" class="dash-widget-item">
                <div class="bgm-pink">
                    <div class="dash-widget-header">
                        <div class="dash-widget-title">Portfolio Health</div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="text-center p-20 m-t-25">
                        <div class="easy-pie main-pie" data-percent="1.21" data-easypie-chart>
                            <div class="percent">1.21</div>
                            <div class="pie-title">Profit Ratio</div>
                        </div>
                    </div>
                </div>

                <div class="p-t-20 p-b-20 text-center">
                    <div class="easy-pie sub-pie-1" data-percent="10" data-easypie-chart>
                        <div class="percent">10</div>
                        <div class="pie-title">Annual Return</div>
                    </div>
                    <div class="easy-pie sub-pie-2" data-percent="3.78" data-easypie-chart>
                        <div class="percent">3.78</div>
                        <div class="pie-title">ROI</div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
</div>


<div class="row">
    <div class="col-sm-3">
        <div class="epc-item bgm-pink">
            <div class="easy-pie main-pie" data-percent="1.21" data-easypie-chart>
                <div class="percent">1.21</div>
                <div class="pie-title">Profit Rate</div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="epc-item bgm-orange">
            <div class="easy-pie main-pie" data-percent="20.35" data-easypie-chart>
                <div class="percent">20.35</div>
                <div class="pie-title">Compounded Annual Return</div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="epc-item bgm-green">
            <div class="easy-pie main-pie" data-percent="3.78" data-easypie-chart>
                <div class="percent">3.78</div>
                <div class="pie-title">Return On Capital Invested</div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="epc-item bgm-purple">
            <div class="easy-pie main-pie" data-percent="95" data-easypie-chart>
                <div class="percent">95</div>
                <div class="pie-title">Invested Capital</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>Open Trades - Distribution</h2>

                <ul class="actions">
                    <li class="dropdown action-show">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <div class="dropdown-menu pull-right">
                            <p class="p-20">
                                Work In Progress
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card-body card-padding">
                <div id="pie-chart" class="flot-chart-pie" data-pie-donut></div>
                <div class="flc-pie hidden-xs"></div>
            </div>
        </div>
    </div>
</div>