<div class="block-header">
    <h2>ALL PORTFOLIOS <small></small></h2>

    <ul class="actions m-t-20 hidden-xs">
        <li class="dropdown">
            <a href="" data-toggle="dropdown">
                <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Settings</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div kendo-grid
     options ="vm.mainGridOptions"
     k-data-source="vm.gridData"
     k-columns="vm.gridColumns"
     k-selectable="true"
     k-on-change="vm.selected = data"></div>

<!--<p ng-show="selected">
    <label>Id: <input ng-model="selected.id" /></label>
    <br />
    <label>Name: <input ng-model="selected.name" /></label>
    <label>Name: <input ng-model="selected.system" /></label>
</p>-->

<button kendo-button ng-click="update('selected')">
    Update from code
</button>

<!--http://demos.telerik.com/kendo-ui/menu/context-menu-angular-->
<ul kendo-context-menu
    k-filter="'.hasMenu'"
    k-on-open="menuOpen = menuOpen + 1"
    k-on-close="menuOpen = menuOpen - 1"
    k-on-select="onSelect(kendoEvent)">

    <li inprogress data-message="Delete"><i class="md md-delete"></i> Delete</li>
    <li inprogress data-message="Edit"><i class="md md-edit"></i>Edit</li>

</ul>