
<kendo-grid 
    options="vm.mainGridOptions"
    k-on-change = "vm.selected = data">
</kendo-grid>

<!--http://demos.telerik.com/kendo-ui/menu/context-menu-angular-->
<ul class="list-group"
    kendo-context-menu
    k-filter="'.hasMenu'"
    k-on-open="menuOpen = menuOpen + 1"
    k-on-close="menuOpen = menuOpen - 1"
    k-on-select="onSelect(kendoEvent)">
    
    <li ng-click ="vm.createTransaction()"class="list-group-item">Act on Scan</li>
    <li class="list-group-item">Open Chart</li>

</ul>