<div class="block-header">
    <h2>SECURITIES</h2>

    <ul class="actions">
        <li>
            <a href="">
                <i class="md md-trending-up"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="md md-done-all"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown">
                <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Refresh</a>
                </li>
                <li>
                    <a href="">Manage Widgets</a>
                </li>
                <li>
                    <a href="">Widgets Settings</a>
                </li>
            </ul>
        </li>
    </ul>

</div>

<kendo-grid options="vm.mainGridOptions" k-on-change="selected = data">
</kendo-grid>

<!--http://demos.telerik.com/kendo-ui/menu/context-menu-angular-->
<ul class = "list-group"
    kendo-context-menu
    k-filter="'.hasMenu'"
    k-on-open="menuOpen = menuOpen + 1"
    k-on-close="menuOpen = menuOpen - 1"
    k-on-select="onSelect(kendoEvent)"
    k-on-change="selected = data">


    <li class = "list-group-item" ng-click="vm.showChart(selected)"><i class="fa fa-line-chart"></i> Open Chart</li>
    <li class="list-group-item" ng ng-click="vm.addToWatchlist(selected)"><i class="md md-remove-red-eye"></i> Add to Watchlist</li>

</ul>
