
    <kendo-grid options="vm.mainGridOptions">
        <div k-detail-template>
            <kendo-tabstrip>
                <ul>
                    <li class="k-state-active">Orders</li>
                    <li>Contact information</li>
                </ul>
                <div>
                    <div kendo-grid k-options="vm.detailGridOptions(dataItem)"></div>
                </div>
                <div>
                    <ul>
                        <li>Country: <input ng-model="vm.dataItem.Country" /></li>
                        <li>City: <input ng-model="vm.dataItem.City" /></li>
                        <li>Address: {{vm.dataItem.Address}}</li>
                        <li>Home phone: {{vm.dataItem.HomePhone}}</li>
                    </ul>
                </div>
            </kendo-tabstrip>
        </div>
    </kendo-grid>
